#!/bin/sh
# mo.rc



# ~~~ User Functions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# The user functions are designed to be called by the o.rc users.
#

getusers () {
  echo "Currently logged in users:"
  users
}

getspec () {
  echo "CPU Model: $(sysctl -n machdep.cpu.brand_string)"
  echo "Number of Cores: $(sysctl -n machdep.cpu.core_count)"
  echo "Disk Usage:"
  df -aPH
}

getfv () {
  # Check if FileVault is enabled
  # https://github.com/0xmachos/mOrc/issues/3
  fdesetup status
}

getip () {
  # Get the external IP Address
  # Use Akamai and Google because they're gonna look less dodgy in SOC's lolgs
  echo "HTTP says: $(curl --silent --insecure -- 'https://whatismyip.akamai.com')"
  echo "DNS says:  $(dig TXT +short o-o.myaddr.l.google.com @ns1.google.com | tr -d \")"
}


gethelp() {
echo "A probably non-comprehensive list of functionality in Orc v$OVERSION."
echo "[*] getusers  -  get currently logged in users"
echo "[*] getspec   -  get some hardware information"
echo "[*] getfv     -  check if FileVault is enabled"
echo "[*] getip     -  get external IP from Akamai and Google (HTTP and DNS)"
}


# ~~~ Main ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#

unset HISTFILE
HISTSIZE=0
umask 002

echo "coredumps disabled by ulimit"
# shellcheck disable=SC2039
# ulimit -c works on macOS
ulimit -c 0

echo "=========== Info ==========="
echo "Short host info:"
echo "  Arch:   $(uname -m)"
echo "  Kernel: $(uname -r)"
echo "  OS:     $(sw_vers -productVersion)" 

echo "IP address(s) on the network: "
ifconfig | grep inet | grep -v inet6 | awk -F " " '{ print $2 }' | grep -v 127 

echo "We are uid $(id -u) - $(whoami | tr -d '\n')"

# echo "Machine has been "
# uptime 
echo "Hardware UUID: $(system_profiler SPHardwareDataType | grep 'UUID' | awk '{print $3}')"

echo "============================"
echo "=== Welcome to mOrc Shell ==="
echo "Run gethelp to see a list of commands."
echo "$HOME should be deleted upon exit."

PS1="\\[\\033]0;\\007\\]\\u on \\h in \\w \\n\\$ ";

